*.env
.env.*
!*.env.example  # Exceção: permite enviar um arquivo de exemplo sem os segredos
.venv/
venv/
env/
__pycache__/
*.py[cod]
*$py.class
build/
dist/
*.egg-info/
*.so
.pytest_cache/
.coverage
htmlcov/
/frontend/node_modules/
/frontend/build/
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*
.env.local
.env.development.local
.env.test.local
.env.production.local
/frontend/coverage/
.vscode/*
!.vscode/settings.json
!.vscode/launch.json
!.vscode/extensions.json
.idea/
*.sublime-project
*.sublime-workspace
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db
ehthumbs.db
Desktop.ini
*.log